body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.universe {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    background-size: 300% 300% !important;
    /*background-repeat: no-repeat !important;*/
}

.demo-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#canvas,
#canvas3D {
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

canvas.visible {
    opacity: 1;
}

.letter {
    will-change: left, top;
    position: fixed;
    z-index: 2;
    left: -100px;
    top: -100px;
    font-size: 40px;
    color: white;
    display: none;
}

.letter.prepared {
    display: block;
    transition: transform .2s ease-in;
    transform: scale(0);
}

.letter.visible {
    transform: scale(1);
}

.letters-container {

}

.scroller-text {
    display: none;
}

BODY {
    perspective: 1000px;
    perspective-origin: center -5em;
}

.side,
.container {
    width: 10em;
    height: 10em;
}

.cube-wrapper {
    animation: zoom 10s ease-in-out 36s infinite alternate, cube-in 2s ease-in 36s;
    transform: scale(0);
    /*transition: transform 3s ease-in;*/
}

.cube-wrapper.animation-in {
    /*transform: translateX(0);*/
}

.container {
    transform-style: preserve-3d;
    animation: rotate 10s linear 36s infinite;
}

.side {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-size: cover;
}

.back {
    transform: translateZ(-100px);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_5593.jpg");
}

.left {
    transform: translateX(-100px) rotateY(90deg);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_5596.jpg");
}

.right {
    transform: translateX(100px) rotateY(90deg);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_5600.jpg");
}

.top {
    transform: translateY(-100px) rotateX(90deg);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_5602.jpg");
}

.bottom {
    transform: translateY(100px) rotateX(90deg);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_1.jpg");
}

.front {
    transform: translateZ(100px);
    background-image: url("https://abramovyuri.github.io/dr-demo/images/DSC_5858.jpg");
}

@keyframes rotate {
    100% {
        transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes cube-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2.5);
    }
}

HTML, BODY {
    height: 100%;
}

BODY {
    display: flex;
    justify-content: center;
    align-items: center;
}
